@import "tailwindcss";

.card{
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 36%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block
}
.card .card-img{
  max-width: 60%;
  height: auto;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
}

.card .card-title{
  font-family: Arial, sans-serif;
  margin: 0;
  color: hsl(0, 0%, 90%);
}

.card .card-text{
  font-family: Arial, sans-serif;
  color: hsl(0, 0%, 30%);
}

.banner{
  position: relative;
  border: 1px solid hsla(0, 0%, 0%, 0.9);
  display:inline-block;
  width: 100%;
  max-width: 100%;
  text-align: center;
  background-color: hsl(0, 0%, 12%);
  margin-top: 25px;
  margin-bottom: 5px;
  z-index: 0;
}

.banner .banner-img{
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  opacity: 10%;
}

.banner .banner-title{
  position:absolute;
  left:50%;
  top: 20%;
  transform: translate(-50%, 0%);
}

.header{
  background-color: rgb(245, 248, 181);
  position: sticky;
  top:0;
  display:flex;
  justify-content:space-evenly;
}

.catalog{
  margin:2;
}


.sidePanel {
  background-color: rgb(245, 248, 181);
  max-width: 25%;
  width: 25%;
  max-height: 100%;
  height: 100%;
  right: 0;
  position: fixed;
  overflow-y: scroll;
  transform: translateX(100%);
  color:black;
  /* transition? */
  z-index: 10;
}

.sidePanel .sideButton{
  background-color: gray;
  border-radius: 10px;
}

.sidePanel .sideButton:hover{
  background-color: rgb(102, 102, 102);
}

.cardSimple{
  border: 1px solid hsl(0, 0%, 14%);
  background-color: goldenrod;
  border-radius: 5px;
  text-align: center;
  max-width: 100%;
  padding: 5px;
  margin: 5px;
  justify-content: center;
  align-items: center;

}
.cardSimple h2{
  font-weight: bold;
}


